@import url('https://fonts.googleapis.com/css?family=Franklin Gothic Medium');
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navitem{
  display: flex;
  justify-content: space-around;
  margin-right: 250px;
  padding: '5px 0 5px 5px';
  font-size: 20px;
  height: 50px;
  width:100%;
  background-color: rgb(23, 23, 120);
 
}


.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
NavLink:hover{
  background-color: pink;
}
.NavStyle{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.NavStyle:hover{
  color: rgb(203, 13, 45);
}
table{
  background-color: rgb(29, 212, 78);
  width:1300px;
  height: 200px;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
tr{
  border-bottom: 1px solid #cccccc;
  height: 60px;
 
}
th{
  text-align:center;
}

.btn{
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
}

.student_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

.detail__container{
  display: flex;
  align-items: center;
  margin-left: 10rem;
  margin-top: 10rem;

}

.form-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  fill: none;
  background-color: rgb(85, 120, 85);
  border: 1px solid grey;
  font-size: 18px;
  /* margin-bottom: 40px; */
  border-radius: 5px;
  padding: 16px;
  width: 30rem;

}

.form__student__details{
  position: relative;
}

.label{
position: absolute;
top: -0.6rem;
left: 0.7rem;
background-color: transparent;
padding: 0;
}

.mr-20{
  margin-right: 7rem;
}

.input__left{
  left: 30rem;
}

.label__left{
  left: 31rem;
}

.form_btn_container{
  position: absolute;
  top: 32rem;
  right: 5rem;
}

.form_btn{
  padding: 1px 1px;
  border-radius: 30px;
  width: 19rem;
  height: 55px;
  font-size: 29px;
  margin-right: 20px;
}

.cancel_btn_color{
  background-color: rgb(218, 40, 40);
}

.update__btn__color{
  background-color: #1ad34e;
}
